{% extends base.html %}

{% block title %}
    Authenticate with Keyper
{% endblock title %}

{% block content %}
    <h1>Authenticate with Keyper</h1>

    <form action="http://localhost:1234/authenticate" method="post">
        <label for="username">Username</label>
        <input name="username" placeholder="Username">

        <label for="Password">Password</label>
        <input type="password" name="password" placeholder="Password">

        <input type="submit" value="Login">
    </form>
{% endblock content %}
